html {
  font-size: 100%;
  box-sizing: border-box;
}

*, 
*::before, 
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-size: $font-med;
  font-family: monospace;
}

//FlexBox
.flex{
  display: flex;

  &-jc-c {
    justify-content: center;
  }

  &-jc-sb {
    justify-content: space-between;
  }

  &-ai-c {
    align-items: center;
  }

}

// Links

a,
a:visited,
a:hover{
  text-decoration: none;
}

// Buttons

button,
.button{ 
  padding: 0.875rem 1.875rem; 
  background: linear-gradient(to right, $Lime-Green, $Bright-Cyan);
  color:$White;
  border-radius: 50px;
  border: none;
  outline: none;
  font-weight: 400;

  cursor: pointer;
}

// Visbility

.hide-for-mobile {
  // Hide elements for mobile and tablet
  @include breakpoint-down(medium){
    display: none;
  }
}

.hide-for-desktop {
  // Hide elements for desktop viewport
  @include breakpoint-up(large){
    display: none;
  }
}