
// Header Styling

.header{

  &__nav{
    padding: 1.0625rem 1.5rem; //17px 24px
  }

  &__logo{

    img{
      display: block;
      width: 8.8125rem;
      height: 1.375rem;
    }

  }

  &__menu{ //mobile-menu
    cursor: pointer;

    > span{
      display: block;
      height: 0.1875em; // 3px
      width: 1.875em; // 30px
      background-color: $Dark-Blue;

      &:not(:last-child){
        margin-bottom: 0.1875em; ; // 3px 
      }
    }
    
  }

  &__links {
    
    a{
      position: relative;
      font-size: $font-smal;
      font-weight: 700;
      color: $Grayish-Blue;
      transition: color 200ms ease-in-out;

      &:not(:last-child){
        margin-right: 2rem;
      }

      &::before{
        content:"";
        position: absolute;
        display: block;
        border-radius: 15px;
        height: 5px;
        left: 0;   
        right:0;
        bottom: -30px;
        transition: background-color 200ms ease-in-out;
      }

      &:hover{
        color: $Dark-Blue;

        &::before{
          background-color:$Lime-Green; 
        }
       
      }
    }

  }

  &__cta{
    font-size: $font-smal;
    color: $White;
    transition: opacity 200ms ease;
    &:hover{
      opacity: 0.5;
    }
  }

}

